<ion-view view-title="Intro">
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide class="slide1">
      <div class="slide-content">
        <!-- <img src="/img/passo1.png" /> -->
        <button class="button button-block button-balanced" ng-click="next()">Próximo</button>
      </div>
    </ion-slide>
    <ion-slide class="slide2">
      <div class="slide-content">
        <button class="button button-block button-balanced" ng-click="next()">Próximo</button>
      </div>
    </ion-slide>
    <ion-slide class="slide3">
      <div class="slide-content">
        <button class="button button-block button-balanced" ng-click="next()">Próximo</button>
      </div>
    </ion-slide>
    <ion-slide class="slide4">
      <div class="slide-content">
        <button class="button button-block button-balanced" ng-click="startApp()">
          Começar!
        </button>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>