<ion-view title="Nova Pauta" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="novaPauta-form2" class="list ">
            <ion-list id="novaPauta-list2" class=" ">
                <label class="item item-input " id="novaPauta-input3">
                    <span class="input-label">Título</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="novaPauta-input4">
                    <span class="input-label">Descrição</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-select " id="novaPauta-select1">
                    <span class="input-label">Tema</span>
                    <select>
                        <option>tema 1</option>
                        <option>tema 2</option>
                    </select>
                </label>
            </ion-list>
            <button id="novaPauta-button4" class=" button button-stable  button-block ">Salvar</button>
        </form>
    </ion-content>
</ion-view>