<ion-view title="Para Começar" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="paraComeAr-heading1" style="color:#000000;" class=" ">O Delibera</h1>
        <p id="paraComeAr-markdown2" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <a ui-sref="tabsController.pautas" id="paraComeAr-button1" class=" button button-positive  button-block button-outline ">Acessar Pautas</a>
    </ion-content>
</ion-view>