<ion-view title="Pautas" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="pautas-card22">
            <ion-item class="item-avatar  " id="pautas-list-item3">
                <h2>Item</h2>
            </ion-item>
            <div class="item item-body " id="pautas-list-item-container2">
                <p id="pautas-markdown3" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="pautas-list-item4">
                <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
    </ion-content>
</ion-view>