<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pautas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-card *ngFor="let pauta of pautas">
		  <ion-card-content>
		    <ion-card-title>
		      {{pauta.title.rendered}}
		      </ion-card-title>
		    <p align="justify" [innerHTML]="pauta.content.rendered">
		    </p>
		  </ion-card-content>
		  <ion-row>

		    <ion-col col-6 *ngIf="isLoggedIn()" style="padding:20px">
		       Pauta em <strong>{{status(pauta.situacao)}}</strong>
		    </ion-col>

		    <ion-col col-6 *ngIf="isLoggedIn()" style="padding:20px">
		       <strong>{{formatDateOld(pauta.date)}}</strong>
		    </ion-col>


				<ion-col col-2 *ngIf="isLoggedIn()">
		      <button ion-button icon-left clear large id="notification-button">
		        <a (click)="like(pauta)" >
			        <ion-icon name="thumbs-up" *ngIf="pauta.liked" color="danger">
			        	<ion-badge id="notifications-badge" color="danger">{{pauta.likes}}</ion-badge>
			        </ion-icon>
			        <ion-icon name="thumbs-up" *ngIf="!pauta.liked">
			        	<ion-badge id="notifications-badge" color="danger">{{pauta.likes}}</ion-badge>
			        </ion-icon>
		        </a>
		      </button>
		    </ion-col>
		    <ion-col col-2 *ngIf="isLoggedIn()">
		      <button ion-button icon-left clear large id="notification-button">
		        <a (click)="unlike(pauta)">
			        <ion-icon name="thumbs-down" *ngIf="pauta.unliked" color="danger">
			        	<ion-badge id="notifications-badge" color="danger">{{pauta.unlikes}}</ion-badge>
			        </ion-icon>
			        <ion-icon name="thumbs-down" *ngIf="!pauta.unliked">
			        	<ion-badge id="notifications-badge" color="danger">{{pauta.unlikes}}</ion-badge>
			        </ion-icon>
		        </a>
		      </button>
		    </ion-col>
		    <ion-col col-1>
					<ion-list>
					  <button ion-button icon-left clear large id="notification-button">
					    <a (click)="goToAddComment(pauta.id, pauta.title.rendered)">
					      <ion-icon name="text"></ion-icon>
					    </a>
					  </button>
					</ion-list>
		    </ion-col>


		    <ion-col col-4 *ngIf="isLoggedIn()" (click)="goToComments(pauta.id, pauta.title.rendered)">
		      <button ion-button icon-left clear large>
		        <ion-icon name="md-chatbubbles"></ion-icon>
		        <div>Comentários</div>
		      </button>
		    </ion-col>

		  </ion-row>
		</ion-card>
	</ion-list>

</ion-content>
