<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pautas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card text-center>
    <div class="or-label">
      <img class="logo" src="http://delibera.redelivre.org.br/files/2016/05/logo-site-menu.png">
      <strong></strong>
    </div>
    <button outline>Bem-vindo a plataforma de debate do Delibera</button>
  </ion-card>
	<ion-list>
		<ion-card *ngFor="let pauta of pautas">
		  <ion-card-content>
		    <ion-card-title>
		      {{pauta.title.rendered}}
		      </ion-card-title>
		    <p align="justify">
		      {{htmlToString(pauta.content.rendered)}}
		    </p>
		  </ion-card-content>
		  <ion-row>
		    <ion-col col-3 *ngIf="isLoggedIn()">
		      <button ion-button icon-left clear small>
		        <a (click)="like(pauta.id)" ><ion-icon name="thumbs-up"></ion-icon>Curtir</a>
		      </button>
		    </ion-col>
		    <ion-col col-4 *ngIf="isLoggedIn()">
		      <button ion-button icon-left clear small>
		        <a (click)="unlike(pauta.id)" ><ion-icon name="thumbs-down"></ion-icon>Descurtir</a>
		      </button>
		    </ion-col>
		    <ion-col col-4 *ngIf="isLoggedIn()" (click)="goToComments(pauta.id, pauta.title.rendered)">
		      <button ion-button icon-left clear small>
		        <ion-icon name="text"></ion-icon>
		        <div>Comentários</div>
		      </button>
		    </ion-col>
		    <ion-col col-6>
		      <div ion-button icon-left clear small>
		        <ion-icon name="ios-alert"></ion-icon>
		        <div>{{status(pauta.situacao)}}</div>
		      </div>
		    </ion-col>
		    <ion-col col-6>
		      <div ion-button icon-left clear small>
	        <ion-icon name="ios-clock"></ion-icon>
	        <div> {{formatDateOld(pauta.date)}}</div>
	        </div>
		    </ion-col>
		  </ion-row>
		</ion-card>
	</ion-list>

</ion-content>
