<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <img class="logo" src="/assets/img/logo-site-menu.png">
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item large *ngIf="isLoggedIn()" (click)="openPage(TabsPage)"><ion-icon name="home"></ion-icon> Home</button>
      <button menuClose ion-item large *ngIf="isLoggedIn()" (click)="openPage(AddPautaPage)"><ion-icon name="document"></ion-icon> Adicionar Pauta</button>
      <button menuClose ion-item large *ngIf="isLoggedIn()" (click)="requestRm()"><ion-icon name="log-out"></ion-icon> Logout</button>
      <button menuClose ion-item large *ngIf="isLoggedOff()" (click)="requestLogin()"><ion-icon name="log-in"></ion-icon> Login</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>