<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<ion-card *ngIf="empty">
	  <ion-card-header>
	     <ion-icon name="alert" style="color:green"></ion-icon> Bahh...
	  </ion-card-header>
	  <ion-card-content>
	    Essa pauta não possui nem um comentário, seja você o primeiro.
	  </ion-card-content>
	</ion-card>
	<ion-list>
		<ion-card *ngFor="let comment of comments">
		  <ion-item>
		    <ion-avatar item-start>
		      <img src="{{comment.author_avatar_urls[96]}}">
		    </ion-avatar>
		    <h2>{{comment.author_name}}</h2>
		    <p>{{comment.date}}</p>
		  </ion-item>
		  <ion-card-content>
		    <p align="justify" [innerHTML]="comment.content.rendered">
		    </p>
		  </ion-card-content>
		  <ion-row>
		    <ion-col>
		      <button ion-button icon-left clear small>
		        <a (click)="goToAddComment(comment, title)" >
		        <ion-icon name="text"></ion-icon>
		        Comentar</a>
		      </button>
		    </ion-col>
		  </ion-row>
		</ion-card>
	</ion-list>

</ion-content>
